<h1>Liquid Sunshine Group</h1>
<h2>Board</h2>
<ul>
<li>President = Steven Winslow</li>
<li>Secretary = Judy Higgins</li>
<li>Finance Director = Kayla Winslow</li>
<li>Communications Director = Lloyd Bledsoe</li>
<li>Marketing Director = Kevan Johnson</li>
<li>Fundraising Director = Jessica Earl</li>
</ul>
<h2>501(c)(3) Information</h2>
<h3>Mission Statement</h3>
<p>Liquid Sunshine Group is focused on the improvement and promotion of the sport of disc golf in the Willamette Valley. We participate in the improvement of disc golf by providing the infrastructure for the sport to grow, through the support of new disc golf course development as well as improvements to existing disc golf courses in the Salem, OR area. Liquid Sunshine Group promotes events that foster the growth of the sport and that reflect a family friendly spirit that aids in the growth of the sport, development, and professional presentation to the general public.</p>
<h3>Details</h3>
<p>EIN = <code>84-2394231</code></p>
<ul>
<li><a href="https://justice.oregon.gov/charities">Oregon Department of Justice Registration</a></li>
<li><a href="http://egov.sos.state.or.us/br/pkg_web_name_srch_inq.show_detl?p_be_rsn=2064830&amp;p_srce=BR_INQ&amp;p_print=FALSE">Oregon Secretary of State Business Entity Data</a></li>
<li><a href="https://apps.irs.gov/pub/epostcard/dl/FinalLetter_84-2394231_LIQUIDSUNSHINEGROUP_01022020_00.tif">IRS Determination Letter</a></li>
</ul>
<h2>Expenditures</h2>
<h3>501(c)(3) Transactions</h3>
<table>
<thead>
<tr>
<th>Date</th>
<th>Amount</th>
<th>Order #</th>
<th>Details</th>
<th>Payment</th>
</tr>
</thead>
<tbody>
<tr>
<td>2021-06-28</td>
<td>-$50.00</td>
<td>119870262</td>
<td>oregon secretary of state corporation division annual report fee</td>
<td>snry</td>
</tr>
<tr>
<td>2021-10-01</td>
<td>-$150.96</td>
<td>18835540</td>
<td>name.com hosting renewal</td>
<td>snry</td>
</tr>
<tr>
<td>2021-11-17</td>
<td>-$150.00</td>
<td>5217561</td>
<td>LSO 2022 sanctioning fee and certificate of insurance</td>
<td>snry</td>
</tr>
<tr>
<td>2021-12-07</td>
<td>$250.00</td>
<td></td>
<td>Initial MAPS deposit</td>
<td>snry</td>
</tr>
<tr>
<td>2022-01-24</td>
<td>$500</td>
<td></td>
<td>private donation</td>
<td></td>
</tr>
<tr>
<td>2022-01-05</td>
<td>-$40.00</td>
<td>OSJOSJ000032619</td>
<td>2020 Oregon DoJ Charities Annual Filing Fee</td>
<td>snry</td>
</tr>
<tr>
<td>2022-02-11</td>
<td>-$20.00</td>
<td>OSJOSJ000033608</td>
<td>2021 Oregon DoJ Charities Annual Filing Fee</td>
<td>snry</td>
</tr>
<tr>
<td>2022-04-16</td>
<td>-$320.00</td>
<td></td>
<td>16x LSO 2022 Trophies</td>
<td>snry</td>
</tr>
<tr>
<td>2022-09-21</td>
<td>-$151.96</td>
<td>20618275</td>
<td>name.com hosting renewal</td>
<td>paypal</td>
</tr>
</tbody>
</table>
<h3>Liquid Sunshine Open Transactions</h3>
<table>
<thead>
<tr>
<th>Date</th>
<th>Amount</th>
<th>Order #</th>
<th>Details</th>
<th>Payment</th>
</tr>
</thead>
<tbody>
<tr>
<td>2022-03-01</td>
<td>-$334.90</td>
<td>#0017</td>
<td>80x players pack minis from trash panda disc golf</td>
<td>paypal</td>
</tr>
<tr>
<td>2022-03-02</td>
<td>-$36.28</td>
<td>N/A</td>
<td>artist changes to LSO logo to meet hot stamping requirements</td>
<td>snry</td>
</tr>
<tr>
<td>2022-03-02</td>
<td>-$338.00</td>
<td>#0708</td>
<td>80x players pack hard enamel pins</td>
<td>paypal</td>
</tr>
<tr>
<td>2022-03-03</td>
<td>-$1,343.65</td>
<td>#D28697</td>
<td>50x instinct, 50x essence, custom hot stamp discmania neo discs</td>
<td>paypal</td>
</tr>
<tr>
<td>2022-03-15</td>
<td>-$1,538.00</td>
<td>1392101-00</td>
<td>80x screen printed suntek umbrellas</td>
<td>paypal</td>
</tr>
<tr>
<td>2022-04-16</td>
<td>-$956.00</td>
<td>#0004</td>
<td>80x 8&quot;x12&quot; RipitGrip pads</td>
<td>paypal</td>
</tr>
<tr>
<td>2022-04-25</td>
<td>-$1,153.00</td>
<td></td>
<td>LSO 2022 greens fees</td>
<td>maps</td>
</tr>
</tbody>
</table>
